body {
    font-family: "Roboto Condensed";
}

.container {
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: 100% !important;
}

.row.side-panel.full-height {
    height: 100%;
}

#content-panel {
    padding-right: 0;
    padding-left: 0;
    font-size: 8pt;
    font-weight: normal;
    word-wrap: break-word;
    max-height: 100%;
    overflow-y: auto;
}

#content-panel p, .side-panel p {
    margin-bottom: 0 !important;
}

.text-yellow {
    color: #e0d441;
}

.text-bold {
    font-weight: bold;
}

.side-marker {
    font-size: 60pt;
    margin-top: 20px;
}

#number_site {
    font-weight: bold;
}

.panel-icons {
    position: absolute;
    height: 100px;
}

.right-panel-icon {
    width: 70px;
}

.panel-icons p {
    font-size: 11pt;
}

.right-panel > .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

html, body, .map, .map-wrapper, #map-container {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.panel-wrapper {
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 250px;

}

.right-panel {
    top: 0;
    right: 0;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 400px;
    background: rgba(204, 204, 204, 1);
    color: #4e4e4e;
    z-index: 2000;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); /* Firefox 3.5 - 3.6 */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border-radius: 0;
}

.title-side-panel {
    font-size: 10pt;
}

.search-result-info {
    padding: 15px;
    color: black !important;
    font-size: 10pt;
}

.right-panel-header {
    font-size: 17pt;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    min-height: 60px;
    background: #666666;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.right-panel-header .close-panel {
    border: 2px solid white;
}

.right-panel-header .close-panel:hover {
    border: 2px solid black;
}

.right-panel-header .fa-map-marker {
    color: #AFC9FA;
}

.right-panel-title {
    padding-top: 10px;
    padding-left: 0;
    line-height: 1.2;
}

.close-panel {
    float: right;
    padding-right: 30px;
    padding-top: 15px;
}

.close-panel:hover {
    cursor: pointer;
}

.side-panel-info {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
}

.map-control-panel, .download-control-panel {
    background-color: white;
    position: absolute;
    left: 0;
    top: 185px;
    transform: translateY(-50%);
    padding-left: 6px;
    padding-right: 6px;
    font-size: 18pt;
    text-align: center;
    color: #4e4e4e;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    margin-left: 31px;
    padding-top: 0;
    border-top: none;
    width: 54px;
}

.no-upload {
    top: 160px;
}

.download-control-panel {
    top: 349px;
}

.download-control-panel .download-format-selector-container {
    margin-left: 49px;
    margin-top: 0;
    display: none;
    width: auto;
}

.zoom-control {
    font-size: 11pt;
    padding: 7px 0;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: rgba(219, 175, 0, 0.7);
    margin-left: 31px;
    border-radius: 0;
    color: white;
    width: 54px;
    height: 33px;
    z-index: 11;
    text-align: center;
    box-shadow: none;
}

.sub-zoom-control {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sub-zoom-control:hover {
    color: #323437 !important;
}

.sub-control-panel {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -6px;
    margin-right: -6px;
}

.control-panel-selected {
    background-color: #1b900d;
    padding-right: 0;
    color: white !important;
}

.sub-control-panel:hover, .sub-zoom-control:hover {
    cursor: pointer;
    color: #323437;
}

@media (max-width: 800px) and (min-width: 500px) {
    .panel-wrapper {
        width: 40%;
    }
}

@media (max-width: 500px) {
    .panel-wrapper {
        width: 100%;
    }
}

.green {
    color: #436461;
    font-size: 20pt;
    margin-bottom: 0;
}

.about-links {
    border-left: 2px solid #436461;
    padding: 15px 20px;
}

.about-links p {
    margin-bottom: 5px;
}

.dropdown-toggle {
    color: transparent;
}

.panel-loading {
    display: none;
    margin-top: 50px;
}

.panel-loading img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.map-control-panel-box {
    width: 265px;
    background-color: white;
    position: absolute;
    top: 0;
    color: black;
    padding: 5px 15px;
    border: none;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: normal;
    border-radius: 0;
    margin-left: 85px;
    margin-top: 60px;
}

.map-search-result {
    margin-left: 351px !important;
    padding-bottom: 0;
}

.map-search-result .search-box {
    color: white;
    padding-top: 10px;
    font-weight: 700;
    font-size: 16px;
}

#search-result-content {
    margin-right: -15px;
    margin-left: -15px;
}

#search-result-content .search-results-total {
    background: ghostwhite;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: normal;
    font-size: 16px;
}

#search-result-content .result-search {
    font-size: 8pt;
    text-align: left;
    padding-left: 17px;
    margin-bottom: 0;
    padding-right: 17px;
    background-color: white;
    color: #4e4e4e;
    cursor: pointer;
}

#search-result-content .result-search:hover {
    background: ghostwhite;
}

#search-result-content p {
    margin-bottom: 0;
}

#search-result-content .search-results-section {
    max-height: 500px;
    overflow-y: scroll;
    margin-right: -17px;
}

.search-results-wrapper {
    overflow-x: hidden;
}

.layers-selector-container {
    display: none;
    padding-bottom: 0 !important;
}

.download-format-selector-container {
    padding-top: 0;
    padding-bottom: 0;
}

.download-format-selector-container li {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.map-control-panel-box ul {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 0;
}

.map-control-panel-box li {
    text-align: left;
    background: none;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    cursor: pointer;
}

.map-control-panel-box li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.layer-selector-input {
    margin-right: 5px;
    cursor: pointer;
}

.layers-selector-container .content {
    border-top: 1px solid darkgray;
    margin-top: 3px;
}

.locate-options-container {
    display: none;
    padding-bottom: 0 !important;
}

#locate-options {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

#locate-options li {
    text-align: left;
    background: none;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

#locate-options li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.locate-options-container .content {
    border-top: 1px solid darkgray;
    margin-top: 3px;
}

.map-control-panel-box .title {
    font-size: 16pt;
    line-height: 20px;
}

.map-filter-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16pt;
}

.map-control-panel-box .subtitle, .search-results-total {
    background-color: ghostwhite;
    text-align: left;
    border: 1px solid grey;
}

.filter-icon-arrow {
    line-height: 18pt;
}

.filter-content {
    text-align: left;
    max-height: 300px;
    overflow-y: scroll;
    padding-top: 5px;
}

.map-control-panel-box .close-button, .close-panel {
    cursor: pointer;
    padding: 0 5px;
    border: 2px solid black;
    font-size: 12pt;
    font-weight: bolder;
    line-height: 20px;
    margin-right: 3px;
}

.map-control-panel-box .close-button:hover, .close-panel:hover {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white !important;
}

.search-box {
    margin-top: 4px;
    width: 100%;
    height: 46px;
    background-color: #1b900d;
    padding-top: 4px;
    padding-bottom: 4px;
}

.search-info {
    text-align: left;
    font-size: 10pt;
}

.container-1 {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    width: 220px;
    height: 37px;
    background: #ffffff;
    border: none;
    font-size: 12pt;
    float: left;
    color: #596775;
    padding-left: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.container-1 input#search:focus {
    outline: none !important;
}

.container-1 input#search::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.search-arrow {
    line-height: 37px;
    margin-left: 4px;
    font-weight: bolder;
    font-size: 25pt;
    color: white !important;
    padding-left: 3px;
    padding-right: 3px;
}

.search-arrow.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.container-1 .icon {
    position: absolute;
    margin-left: 17px;
    margin-top: 10px;
    z-index: 1;
    color: #4f5b66;
}

.slide-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e0d441;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e0d441;
    cursor: pointer;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.control-drop-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.layer-switcher {
    position: absolute;
    top: 280px !important;
    left: 0;
    right: auto !important;
    text-align: left;
    margin-left: 30px;
    cursor: pointer;
    padding: 0 !important;
}

.layer-switcher button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 54px !important;
    height: 41px !important;
    background-position: center !important;
    background-size: 32px;
    margin: 0 auto;
    background-color: white !important;
    border: none !important;
    cursor: pointer;
}

.layer-switcher .panel {
    border: none !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 9px !important;
    position: absolute;
    width: 250px;
    margin-left: 55px !important;
    background-color: white !important;
    border-radius: 0 !important;
}

.layer-switcher ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.layer-switcher input {
    cursor: pointer;
}

.layer-switcher.shown button {
    background-color: #1b900d !important;
}

.layer-switcher button:focus {
    outline: none !important;
}

.result-search {
    background-color: rgba(188, 188, 188, 0.15);
    padding: 5px;
    margin-bottom: 10px;
    overflow-x: hidden;
}

.result-search .group-title {
    font-style: italic;
    font-weight: 700;
    font-size: 9pt;
}

.result-search .group-description {

}

#search-results-wrapper {
    height: 200px;
    overflow-y: auto;
}

.side-panel-content {
    padding: 10px;
}

::-webkit-scrollbar {
    width: 7px;
    display: none;
}

div:hover::-webkit-scrollbar {
    display: block;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: white;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
}

.search-results-total {
    font-weight: bold;
    font-size: 9pt;
    padding: 5px;
    background-color: rgba(255, 255, 255, 1);
}

.search-results-total:hover {
    cursor: pointer;
}

#loading-warning, #fetching-error {
    position: absolute;
    padding: 10px;
    top: 10px;
    width: 100%;
    text-align: center;
    opacity: 0.3;
    display: none;
    z-index: 9999;
}

#footer-message {
    position: absolute;
    bottom: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
    opacity: 0.6;
    z-index: 999;
    display: none;
}

#fetching-error {
    opacity: 0.8;
}

#loading-warning span, #footer-message span {
    background-color: grey;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.sub-filter {
    cursor: pointer;
}

.mouse-position, #taxon-filter {
    position: absolute;
    bottom: .5em;
    left: .5em;
    font-size: .7rem;
    color: #000;
    background: rgba(255, 255, 255, .8);
}

#taxon-filter {
    bottom: 3em;
    font-size: 12px;
    padding: 10px;
    display: none;
}

#taxon-filter .fa-times {
    cursor: pointer;
    margin-left: 5px;
}

#fetching-error .try-again-button {
    color: blue;
    cursor: pointer;
}

#fetching-error span {
    background-color: red;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.mouse-position button {
    height: 1.375em;
    width: 1.375em;
    cursor: pointer;
}

.mouse-position.active {
    width: 117px;
}

.ol-mouse-position {
    top: 5px;
    left: 30px;
    position: absolute;
}

.date-filter {
    width: 71%;
}

.sub-filter .fa-angle-up {
    display: none;
}

#ui-datepicker-div {
    z-index: 9999 !important;
}

.search-arrow {
    cursor: pointer;
}

.search-arrow:hover {
    opacity: 0.5;
}

#popup {
    background-color: white;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 3px;
    max-width: 350px;
}

#popup h4 {
    text-align: center;
}

#popup:before, #popup:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -1px;
    width: 0;
    height: 0;
    border: solid transparent;
}

#popup:before {
    margin-left: -11px;
    border-width: 11px;
    border-top-color: #cccccc;

}

#popup:after {
    margin-left: -10px;
    border-width: 10px;
    border-top-color: #ffffff;
}

#popup td {
    border: 1px solid grey;
    font-size: 8pt;
    padding: 3px;
}

#popup tr td:first-child {
    font-weight: 700;
}

#geocontext-information-container {
    top: 0;
    display: none;
    position: absolute;
    height: 100%;
    overflow-y: scroll;
    margin-top: 300px;
    padding-bottom: 350px;
}

#geocontext-information-container table {
    width: 100%;
}

#geocontext-information-container td {
    border: 1px solid grey;
    padding: 3px;
    font-size: 8pt;
}

#geocontext-information-container img {
    width: 100%;
    height: 50px;
    padding: 10px;
}

#map-legend-wrapper {
    border-radius: 5px;
    min-height: 31px;
    min-width: 31px;
    max-width: 250px;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    left: 0.5em;
    bottom: 80px;
    background-color: white;
    cursor: pointer;
    z-index: 99;
}

#map-legend-symbol {
    height: 31px;
    width: 31px;
    text-align: center;
    padding-top: 4px;
    font-weight: 700;
}

#map-legend-wrapper.show-legend #map-legend-symbol {
    display: none;
}

#map-legend-wrapper.hide-legend #map-legend {
    display: none;
}

#map-legend-wrapper.hide-legend {
    max-width: 31px;
    max-height: 31px;
    opacity: 0.7;
}

#map-legend-wrapper .legend-row {
    margin-bottom: 10px;
    border-bottom: 1px solid darkgray;
    padding: 10px;
}

#map-legend-wrapper .legend-row:last-child {
    border-bottom: none;
}

.year-indicator {
    width: 100%;
    height: 20px;
    position: relative;
    margin-bottom: 10px;
    margin-top: -10px;
}

#year-from {
    position: absolute;
    left: 0;
}

#year-to {
    position: absolute;
    right: 0;
}

#year-slider {
    height: 5px;
    width: 100%;
    margin-bottom: 10px;
}

#month-selector {
    margin-bottom: 10px;
}

.noUi-target {
    box-shadow: none !important;
    background: #d4d4d4 !important;
    border: none !important;
}

.noUi-connect {
    background: #888 !important;
}

.noUi-handle {
    right: -7.5px !important;
    background: #888 !important;
    width: 15px !important;
    height: 15px !important;
    border: 0 !important;
    border-radius: 100% !important;
    cursor: pointer !important;
    box-shadow: 0 0 0 0 #c7c7c7 !important;
    -webkit-transition: box-shadow .2s ease !important;
    transition: box-shadow .2s ease !important;
}

.noUi-handle:before, .noUi-handle:after {
    display: none !important;
}

.button-filter-wrapper {
    text-align: center;
    padding: 5px 40px;
}

.upload-data-button {
    border-radius: 8px !important;
    width: 100%;
}

.required-text {
    margin-top: 5px;
}

.upload-input-label {
    font-size: 11pt;
    margin-bottom: 0;
}

#download-control-modal {
    margin-left: 100px;
    margin-right: 100px;
}

#download-control-modal .modal-body {
    text-align: center;
}

#download-control-modal .modal-body .table-section {
    text-align: center;
    padding: 10px;
}

#download-control-modal .modal-body table {
    margin-left: auto;
    margin-right: auto;
}

#download-control-modal .modal-body table .row-format {
    height: 100px;
    width: 80px;
    border: 1px dashed black;
    text-align: center;
    padding-top: 35px;
    border-radius: 10px;
    cursor: pointer;
}

#download-control-modal .modal-body .notification {
    color: red;
    opacity: 0.8;
    display: none;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#download-control-modal .modal-body table .row-format:hover {
    background: #e9ecef;
}

#download-control-modal .modal-body table .row-format.disabled:hover {
    background: transparent;
}

#download-control-modal .modal-body table .row-format.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.modal-upload-data {
    z-index: 9999;
}

#search-error-text {
    text-align: center;
    width: 100%;
    font-size: 13px;
    padding: 3px;
    color: red;
    font-style: italic;
    display: none;
}

.site-detail-content {
    padding: 10px;
    width: 100%;

}

.site-detail-content td {
    margin-top: 5px;
    margin-bottom: 5px;
}

#species-detail .content {
    padding: 10px;
    color: #131313;
}

#species-detail .content .species-count {
    font-size: 16px;
    text-align: center;
}

#species-detail .content .species-count b {
    font-size: 32px;
}

#species-detail .content .iucn-status {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

#species-detail .content .iucn-status .name {
    padding: 2px 10px;
    display: inline-block;
    font-size: 18px;
    background-color: green;
    color: white;
}

#species-detail .content .iucn-status.danger .name {
    background-color: red;
    color: white;
}

#species-detail .content .iucn-status .full-name {
    padding: 1px 10px;
    display: inline-block;
    font-size: 18px;
    color: green;
    border: 1px solid green;
}

#species-detail .content .iucn-status.danger .full-name {
    color: red;
    border: 1px solid red;
}

#species-detail .content .taxonomy-system {
    text-align: center;
    border: 1px solid grey;
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
}

.search-result-sub-title {
    padding-right: 5px;
}

.sub-species-wrapper .search-result-sub-title,
.sub-species-wrapper .result-search {
    padding-left: 15px !important;
}

.sub-species-wrapper .search-result-sub-title {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.site-detail-content .text-center {
    font-size: 12px;
}

@media (min-width: 1300px) and (max-width: 1412px) {
    .modal-upload-data {
        margin-left: 45rem;
    }
}

@media (min-width: 1412px) and (max-width: 1575px) {
    .modal-upload-data {
        margin-left: 50rem;
    }
}

@media (min-width: 1575px) {
    .modal-upload-data {
        margin-left: 55%;
    }
}
