body {
    font-family: "Roboto Condensed";
}

table, tr, th, td {
    border: 1px solid black;
    padding: 5px 10px;
}

th {
    background-color: lightgrey;
}

tr:nth-child(odd) {background: #f5f5f5}

.pagination {
    text-align: center;
    margin-bottom: 25px;
}

.validate-action {
    text-align: center;
    color: orange
}

.edit-action a {
    text-align: center;
    color: cadetblue;
}

.validate-action:hover {
    color: #1b900d;
}

.edit-action:hover a {
    color: darkblue;
}

.ready-validate-action:hover a {
    color: orange !important;
}

.site-link {
    color: cadetblue !important;
    cursor: pointer;
}

.site-link:hover {
    text-decoration: underline !important;
}

.title-heading {
    color: #a02246;
    font-size: 27pt;
}

.page-current a {
    color: cadetblue !important;
}

#popup {
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    font-size: 8pt;
}

#about {
    background-color: #aad993;
    color: white;
    width: 100%;
    padding: 12px 0;
}

.about-links {
    border-left: 1px solid white;
}

.about-links>p {
    margin: 0;
    font-size: 11pt;
}

.kartoza-icon {
    margin: auto auto;
}

select {
    background: none;
    border: 1px solid gainsboro;
}

.form-wrapper {
    border: 1px solid gainsboro;
    padding: 25px;
    border-radius: 2px;
}

#message-success {
    background: #eaffe8 !important;
    border: 1px solid #1b900d !important;
    border-radius: 5px;
    text-align: center !important;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20pt;
    line-height: 50px;
}


#map {
    min-height: 500px;
}