{% load static from staticfiles %}
{% load pipeline %}
{% load grunt %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %} Title {% endblock %}</title>

    <link href="{% static "js/libs/bootstrap-4.0.0/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,500i,700,700i|Roboto+Condensed:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTIC_KEY }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ GOOGLE_ANALYTIC_KEY }}');
    </script>

    {% block head %} {% endblock %}

</head>
<body id="page-top">

    {% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarResponsive">
          <ul class="navbar-nav">
             <li class="dropdown">
                 <a class="dropdown-toggle" id="menu-dropdown-burger" href="#"><i class="fa fa-reorder user-icon"></i></a>
                    <ul class="dropdown-menu">
                        <div class="close-dropdown"><i class="fa fa-close"></i></div>
                        <div class="bims-title row">
                            <div class="bims-title-big col-lg-6">BIMS</div>
                            <div class="bims-title-acc
                            col-lg-6">BIODIVERSITY <br/>INFORMATION MANAGEMENT SYSTEM</div>
                        </div>
                        <li><a class="nav-link js-scroll-trigger" href="/">HOME</a></li>
                        <li><a class="nav-link js-scroll-trigger" href="/map">MAP</a></li>
                        <li><a class="nav-link js-scroll-trigger" id="navbar-ext-resources" href="{% url 'link_list' %}">LINKS</a></li>
                        <li><a class="nav-link js-scroll-trigger" id="navbar-doc-report" href="/under-development/">DOCUMENTS & REPORTS</a></li>
                        <li><a class="nav-link js-scroll-trigger" id="navbar-contact" href="/contact/">CONTACT</a></li>
                        <li><a class="nav-link js-scroll-trigger" id="navbar-biblio" href="/bibliography/">BIBLIOGRAPHY</a></li>
                        <li><a class="nav-link js-scroll-trigger" id="navbar-geonode" href="/layers">GIS CATALOGUE</a></li>
                        <div class="bims-nav-footer row">
                            <div class="col-lg-12">MADE WITH <img src="{% static 'img/kartoza-logo-only.png' %}" height="20px"> BY <a href="http://kartoza.com/">KARTOZA</a></div>
                        </div>
                    </ul>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse navbarResponsive" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
             <li class="dropdown">
                 <a class="dropdown-toggle" id="menu-dropdown-account" href="#"><i class="fa fa-user user-icon"></i></a>
                    <ul class="dropdown-menu right-nav-dropdown">
                    <div class="close-dropdown"><i class="fa fa-close"></i></div>
                    <div class="container">
                    <div class="bims-title row">
                        <div class="bims-title-big col-lg-6">BIMS</div>
                        <div class="bims-title-acc col-lg-6">BIODIVERSITY <br/>INFORMATION MANAGEMENT SYSTEM</div>
                    </div>
                    </div>
                     {% if user.is_authenticated %}
                        <li><a class="nav-link js-scroll-trigger" id="navbar-profile" href="/profile/">PROFILE</a></li>
                         <li><a class="nav-link js-scroll-trigger" id="navbar-upload" href="{% block upload_data_url %}/upload/{% endblock %}">UPLOAD DATA</a></li>
                         {% if user.is_staff or user.is_superuser %}
                            <li><a class="nav-link js-scroll-trigger" href="/admin/">ADMINISTRATION</a></li>
                         {% endif %}
                             <li><a class="nav-link js-scroll-trigger" id="navbar-upload" href="/nonvalidated-list/">VALIDATE RECORDS</a></li>
                             <li><a class="nav-link js-scroll-trigger" href="/nonvalidated-user-list/">UPDATE RECORDS</a></li>
                             <li><a class="nav-link js-scroll-trigger" href="/accounts/logout/"><i class="fa fa-sign-out"></i> LOGOUT</a></li>
                     {% else %}
                        <li><a class="nav-link js-scroll-trigger" href="/accounts/login/"><i class="fa fa-sign-in"></i> LOGIN</a></li>
                        <li><a class="nav-link js-scroll-trigger" href="/accounts/signup/">SIGN UP</a></li>
                     {% endif %}
                    <div class="bims-nav-footer row">
                        <div class="col-lg-12">MADE WITH <img src="{% static 'img/kartoza-logo-only.png' %}" height="20px"> BY <a href="http://kartoza.com/">KARTOZA</a></div>
                    </div>
                    </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <script>

        var burgerMenuButton = document.getElementById("menu-dropdown-burger");
        var accountMenuButton = document.getElementById("menu-dropdown-account");

        burgerMenuButton.onclick = function () {
            burgerMenuButton.nextElementSibling.classList.add("show");
        };

        accountMenuButton.onclick = function () {
            accountMenuButton.nextElementSibling.classList.add("show");
        };

        var dropdownCloseButtons = document.getElementsByClassName("close-dropdown");

        for(var i = 0; i < dropdownCloseButtons.length; i++) {
            dropdownCloseButtons[i].onclick = function () {
                var dropdownMenu = document.getElementsByClassName("dropdown-menu");
                for(var j = 0; j < dropdownMenu.length; j++) {
                    dropdownMenu[j].classList.remove("show");
                }
            }
        }

        var uploadUrl = '{{ upload_url }}';
        var extResourceUrl = '{{ ext_resource_url }}';
        var docReportUrl = '{{ doc_report_url }}';
        var contactUrl = '{{ contact_url }}';
        var biblioUrl = '{{ biblio_url }}';
        var profileUrl = '{{ profile_url }}';
        var contributionsUrl = '{{ contributions_url }}';
        var titleAbbr = '{{ title_bims_abbr }}';
        var titleLong = '{{ title_bims_long|safe }}';

        if(uploadUrl !== 'None'){
            var navbarUpload = document.getElementById("navbar-upload");
            if(navbarUpload) {
                navbarUpload.href = uploadUrl;
            }
        }

        if(extResourceUrl !== 'None'){
            var navbarExt = document.getElementById("navbar-ext-resources");
            navbarExt.href = extResourceUrl;
        }

        if(docReportUrl !== 'None'){
            var navbarDoc = document.getElementById("navbar-doc-report");
            navbarDoc.href = docReportUrl;
        }

        if(contactUrl !== 'None'){
            var navbarContact = document.getElementById("navbar-contact");
            navbarContact.href = contactUrl;
        }

        if(biblioUrl !== 'None'){
            var navbarBiblio = document.getElementById("navbar-biblio");
            navbarBiblio.href = biblioUrl;
        }

        if(profileUrl !== 'None'){
            var navbarProfile = document.getElementById("navbar-profile");
            if(navbarProfile) {
                navbarProfile.href = profileUrl;
            }
        }

        if(contributionsUrl !== 'None'){
            var navbarContributions = document.getElementById("navbar-contributions");
            navbarContributions.href = contributionsUrl;
        }

        if(titleAbbr !== 'None'){
            $(".bims-title-big").html(titleAbbr);
        }

        if(titleLong !== 'None'){
            $('.bims-title-acc').html(titleLong);
        }

    </script>

    {% endblock %}

    {% block body_content %} {% endblock %}

    <!-- Bootstrap core JavaScript -->

    {% block foot %} {% endblock %}

</body>


</html>