{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% load grunt %}

{% block title %}
    Home
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/map.css" %}" rel="stylesheet">
    <link href="{% static "css/loading.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/ol-layerswitcher/ol3-layerswitcher.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/openlayers-4.6.4/ol.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/noUiSlider.11.1.0/nouislider.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.css" %}" rel="stylesheet">

    <script type="text/javascript">
        const max_year_filter = '{{ date_filter.max }}';
        const min_year_filter = '{{ date_filter.min }}';
        const bingMapKey = '{{ bing_map_key }}';
        const mapTilerKey = '{{ map_tiler_key }}';
        const staticURL = "{% static "" %}";
        const geocontextUrl = '{{ geocontext_url }}';
        const geocontextCollectionKey = '{{ geocontext_collection_key }}';
        const locationSiteDetailURL = '{% url "location-site-detail" 123456789 %}';
        const listCollectorAPIUrl = '{% url "list-collector" %}';
        const centerPointMap = '{{ center_point_map }}';
        const listCategoryAPIUrl = '{% url "list-date-category" %}';
        const listNonBiodiversityLayerAPIUrl = '{% url "list-non-biodiversity-layer" %}';
        const uploadDataUrl = '{% url "upload-collection" %}';
        const collectionCategory = "{{ collection_category|safe }}";
        const csrfmiddlewaretoken = "{{ csrf_token }}";
        const biological_modules = "{{ biological_modules|safe }}";
        const is_logged_in = {% if user.is_authenticated  %} true {% else %} false {% endif %};
        const filterFarmIDUrl = '{% url "filter-farm-id" %}';
        const getFarmUrl = '{% url "get-farm" 123456789 %}';
    </script>
{% endblock %}

{% block body_content %}
    <div id="map-container"></div>
    <script type='text/html' id='map-template'>
        <div id="map" class="map"></div>
        <div id="loading-warning"><span>LOADING....</span></div>
        <div id="footer-message"><span>Additional Info</span></div>
        <div id="fetching-error">
            <span class="try-again">Error when fetching data, please try again.
                <a class="try-again-button">refresh</a>.
                <a class="call-administrator">If this error still persists, please call administrator.</a>
            </span>
        </div>
        <div class="ol-control mouse-position">
            <button type="button"><i class="fa fa-globe"></i></button>
            <div id="mouse-position-wrapper" style="display: none"></div>
        </div>
        <div class="ol-control" id="taxon-filter">
        </div>
        <div id="popup"></div>
        <div id="map-legend-wrapper" class="control-drop-shadow hide-legend" data-toggle="tooltip" data-placement="bottom" title="Show legends">
            <div id="map-legend-symbol">L</div>
            <div id="map-legend"></div>
        </div>
    </script>

    <script type='text/html' id='side-panel-template'>
        <div class="right-panel">
            <div class="row side-panel side-panel-info">
                <div class="col-lg-12" id="content-panel">
                </div>
            </div>
            <div class="right-panel-header">
                <div class="pull-right" style="padding-top: 5px;">
                    <i class="fa fa-times close-panel"></i>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="right-panel-title"></span>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="map-search-container">
        <div class="map-search-box map-control-panel-box">
            <div class="row">
                <div class="col-lg-12" style="padding-right: 0">
                    <span class="title">
                        SEARCH
                    </span>
                    <div class="close-button map-search-close pull-right">
                        X
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="search-box">
                    <div class="container-1">
                        <input type="search" id="search" placeholder="Search..."><span class="search-arrow"><i class="fa fa-angle-right"></i></span>
                    </div>
                </div>
                <div id="search-error-text">Minimal 3 character or empty.</div>
            </div>
            <div class="row">
                <div class="col-lg-12 search-info">
                    Refine your search by using the filters below.
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 map-filter-title">
                    FILTERS
                </div>
            </div>
            <div class="row sub-filter">
                <div class="col-lg-12 subtitle" id="date-filter-subtitle">
                    DATE <i class="fa fa-angle-up pull-right filter-icon-arrow"></i><i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
                </div>
            </div>
            <div class="row" style="display: none">
                <div class="slide-container" style="padding-bottom: 10px">
                    <div>YEAR</div>
                    <div class="year-indicator">
                        <div id="year-from">1600</div>
                        <div id="year-to">1800</div>
                    </div>
                    <div id="year-slider" class="noUiSlider"></div>
                    <div>MONTH</div>
                    <table id="month-selector" style="width:100%">
                    </table>
                    <button class="apply-filter">Apply Filter</button>
                    <button class="clear-filter">Clear Filter</button>
                </div>
            </div>
            <div class="row sub-filter">
                <div class="col-lg-12 subtitle">
                    COLLECTOR <i class="fa fa-angle-up pull-right filter-icon-arrow"></i><i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
                </div>
            </div>
            <div class="row" style="display: none">
                <div class="col-lg-12 filter-content" id="filter-collectors">
                </div>
                <div class="button-filter-wrapper">
                    <button class="apply-filter">Apply Filter</button>
                    <button class="clear-filter">Clear Filter</button>
                </div>
            </div>
            <div class="row sub-filter">
                <div class="col-lg-12 subtitle">
                    CATEGORY <i class="fa fa-angle-up pull-right filter-icon-arrow"></i><i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
                </div>
            </div>
            <div class="row" style="display: none">
                <div class="col-lg-12 filter-content" id="filter-category">
                </div>
                <div class="button-filter-wrapper">
                    <button class="apply-filter">Apply Filter</button>
                    <button class="clear-filter">Clear Filter</button>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="map-search-result-template">
        <div class="map-search-box map-control-panel-box map-search-result">
            <div class="row">
                <div class="col-lg-12" style="padding-right: 0">
                    <span class="title">
                        SEARCH RESULT
                    </span>
                    <div class="close-button map-result-close pull-right">
                        X
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="search-box">
                    GILLI
                </div>
            </div>
            <div class="row" style="margin-top: 10px; margin-bottom: 12px">
                <div class="col-lg-12 search-info">
                    Select an item to find more detailed information.
                </div>
            </div>
            <div id="search-result-content">
            </div>
        </div>
    </script>

    <script type="text/html" id="map-control-panel">
        <div class="map-control-panel {% if not user.is_authenticated %}no-upload{% endif %}">
            <div class="search-control sub-control-panel">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="filter-control sub-control-panel">
                <i class="fa fa-map" aria-hidden="true"></i>
            </div>
            <div class="locate-control sub-control-panel">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </div>
            {% if user.is_authenticated %}
                <div class="upload-data sub-control-panel">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                </div>
            {% endif %}
        </div>
        <div class="zoom-control row">
            <div class="col-lg-6 sub-zoom-control zoom-out"><i class="fa fa-plus" aria-hidden="true"></i></div>
            <div class="col-lg-6 sub-zoom-control zoom-in"><i class="fa fa-minus" aria-hidden="true"></i></div>
        </div>

        {# layers selector container #}
        <div class="layers-selector-container map-control-panel-box">
            <div class="row">
                <div class="col-lg-12" style="padding-right: 0">
                    <span class="title">
                        LAYER SELECTOR
                    </span>
                    <div class="layers-selector-container-close close-button pull-right">
                        X
                    </div>
                </div>
            </div>
            <div class="row content">
                <ul id="layers-selector" style="width:100%">
                </ul>
            </div>
        </div>
        {# locate option container #}
        <div class="locate-options-container map-control-panel-box">
            <div class="row">
                <div class="col-lg-12" style="padding-right: 0">
                    <span class="title">
                        LOCATE OPTIONS
                    </span>
                    <div class="locate-options-container-close close-button pull-right">
                        X
                    </div>
                </div>
            </div>
            <div class="row content">
                <ul id="locate-options" style="width:100%">
                    <li class="locate-coordinates">
                        Locate by coordinate
                    </li>
                    <li class="locate-farm">
                        Locate by Farm/Farm Portion Code Page
                    </li>
                    {#                                        Will be implemented in another PR #}
                    {#                    <li id="map-navigation">Map navigation page</li>#}
                </ul>
            </div>
        </div>


    </script>

    <script type="text/html" id="locate-coordinate-modal">
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Locate by Coordinate</h5>
                        <button type="button" class="close"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="coordinate-form">
                            Please enter the decimal latitude (positive
                            degrees North) and longitude (positive degrees
                            East) coordinates of your area of interest below!
                        </p>
                        <p class="farm-form">
                            Please enter the Farm/Farm Portion ID below (e.g. T0KT00000000001600005)
                        </p>

                        <form id="locate-form">
                            <div class="form-row">
                                <div class="col-4 coordinate-form">
                                    <label for="longitude" class="sr-only">
                                        Longitude
                                    </label>
                                    <input type="number" step="0.000001" min="-180"
                                            max="180" class="form-control mb-2 mr-sm-2"
                                            id="longitude" placeholder="Longitude">
                                </div>
                                <div class="col-4 coordinate-form">
                                    <label for="latitude" class="sr-only">
                                        Latitude
                                    </label>
                                    <input type="number" step="0.000001" max="90"
                                            min="-90"
                                            class="form-control mb-2 mr-sm-2"
                                            id="latitude" placeholder="Latitude">
                                </div>
                                <div class="col-6 farm-form">
                                    <label for="farm-id" class="sr-only">
                                        Farm ID
                                    </label>
                                    <input type="text"
                                           class="form-control mb-2 mr-sm-2"
                                           id="farm-id" placeholder="Farm ID">
                                </div>
                                <div class="col">
                                    <button id="go-button" type="button" class="btn btn-outline-dark mb-2 mr-sm-2">
                                        Go
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="upload-data-modal">
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-upload-data" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload Data</h5>
                        <button type="button" class="close"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form">
                            <div class="alert alert-danger" role="alert">
                            </div>
                            <div class="alert alert-success" role="alert">
                            </div>
                            <label for="ud_module" class="upload-input-label">
                                Module *
                            </label>
                            <select id="ud_module" name="Module" class="form-control mb-2 mr-sm-2 ud-item-required ud-item">
                                <option value="">-</option>
                                <option value="base">base</option>
                                {% for key, value in biological_modules.items %}
                                    <option value="{{ value }}">{{ key }}</option>
                                {% endfor %}
                            </select>
                            <label for="ud_species_name" class="upload-input-label">
                                Species Name *
                            </label>
                            <input type="text"
                                   class="form-control mb-2 mr-sm-2 ud-item ud-item-required"
                                   id="ud_species_name" placeholder="" name="Species Name">
                            <label for="ud_location_site" class="upload-input-label">
                                Location Site Name *
                            </label>
                            <input type="text"
                                   class="form-control mb-2 mr-sm-2 ud-item ud-item-required"
                                   id="ud_location_site" name="Location Site" placeholder="">
                            <label for="ud_collection_date" class="upload-input-label">
                                Collection Date *
                            </label>
                            <input type="text"
                                   class="form-control mb-2 mr-sm-2 ud-item ud-item-required"
                                   id="ud_collection_date" name="Collection Date" placeholder="">
                            <label for="ud_category" class="upload-input-label">
                                Category *
                            </label>
                            <select id="ud_category" name="Category" class="form-control mb-2 mr-sm-2 ud-item-required ud-item">
                                <option value="">-</option>
                                {% for category in collection_category %}
                                    <option value="{{ category.0 }}">{{ category.1 }}</option>
                                {% endfor %}
                            </select>
                            <label for="ud_collector" class="upload-input-label">
                                Collector *
                            </label>
                            <input type="text"
                                   class="form-control mb-2 mr-sm-2 ud-item-required ud-item"
                                   id="ud_collector" placeholder="" name="Collector">
                            <label for="ud_notes" class="upload-input-label">
                                Notes
                            </label>
                            <textarea class="form-control ud-item"
                                      id="ud_notes" placeholder=""></textarea>
                            <p class="required-text ">* = Required </p>

                            <button type="button" class="btn btn-info upload-data-button">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="download-control-panel">
        <div class="download-control sub-control-panel">
            <i class="fa fa-download" aria-hidden="true"></i>
        </div>
    </script>

    <script type="text/html" id="download-control-panel-template">
        <div id="download-control-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Download data</h5>
                        <button type="button" class="close"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>Select a format to download current data.</div>
                        <div class="table-section">
                            <table>
                                <tr>
                                    <td valign="middle">
                                        <div class="row-format" data-format="csv">.csv</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="notification"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="search-result-sub-title">
        <div class="search-result-sub-title search-results-total" data-search-result-id="">
            <%= name %>
            <i class="pull-right"><%= count %> occurrences</i>
        </div>
    </script>

    <script type="text/template" id="search-result-record-template">
        <div class="result-search" data-search-result-id="" data-taxon-id="<%= taxon_gbif_id %>">
            <p class="group-title"><%= common_name %></p>
            <a class="group-description"><%= count %> occurrences</a>
        </div>
    </script>

    <script type="text/template" id="search-result-taxa-template">
        <div class="result-search" data-search-result-id="" data-taxon-id="<%= id %>">
            <p class="group-title"><%= common_name %></p>
            <a class="group-description"><%= count %> occurrences</a>
        </div>
    </script>

    <script type="text/template" id="search-result-site-template">
        <div class="result-search" data-search-result-id="">
            <p class="group-title"><%= name %></p>
            <a class="group-description"><%= count %> records found</a>
        </div>
    </script>
    <script type="text/template" id="species-template">
        <div class="content">
            <div class="iucn-status"><span class="name"><%= iucn_status_name %></span><span class="full-name"><%= iucn_status_full_name %></span></div>
            <div class="species-count"><b><%= count %></b><br> records</div>
            <div class="taxonomy-system">
                <%= kingdom %><br>
                <i class="fa fa-arrow-down"></i><br>
                <%= phylum %><br>
                <i class="fa fa-arrow-down"></i><br>
                <%= taxon_class %><br>
                <i class="fa fa-arrow-down"></i><br>
                <%= order %><br>
                <i class="fa fa-arrow-down"></i><br>
                <%= family %><br>
                <i class="fa fa-arrow-down"></i><br>
                <%= genus %><br>
                <i class="fa fa-arrow-down"></i><br>
                <%= species %>
            </div>
        </div>
    </script>

    <script type="text/template" id="record-detail-template">
        <div>
            <h4><%= taxonomy.common_name %></h4>
            <table style="width: 100%">
                <tr>
                    <td>Kingdom</td>
                    <td><%= taxonomy.kingdom %></td>
                </tr>
                <tr>
                    <td>Phylum</td>
                    <td><%= taxonomy.phylum %></td>
                </tr>
                <tr>
                    <td>Class</td>
                    <td><%= taxonomy.class %></td>
                </tr>
                <tr>
                    <td>Order</td>
                    <td><%= taxonomy.order %></td>
                </tr>
                <tr>
                    <td>Family</td>
                    <td><%= taxonomy.family %></td>
                </tr>
                <tr>
                    <td>Genus</td>
                    <td><%= taxonomy.genus %></td>
                </tr>
                <tr>
                    <td>Species</td>
                    <td><%= taxonomy.species %></td>
                </tr>
                <tr>
                    <td>Common name</td>
                    <td><%= taxonomy.common_name %></td>
                </tr>
                <tr>
                    <td>Scientific name</td>
                    <td><%= taxonomy.scientific_name %></td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td><%= taxonomy.author %></td>
                </tr>
                <tr>
                    <td>Original species name</td>
                    <td><%= original_species_name %></td>
                </tr>
                <tr>
                    <td>Collection date</td>
                    <td><%= collection_date %></td>
                </tr>
                <tr>
                    <td>Collector or observer</td>
                    <td><%= collector %></td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td><%= notes %></td>
                </tr>
            </table>
        </div>
    </script>

{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->

    {% grunt_module "map_view" %}

{% endblock %}
