{% extends 'main_base.html' %}
{% load static from staticfiles %}

{% block title %}
    Nonvalidated Records
{% endblock %}

{% block head %}
    <link href="{% static "js/libs/openlayers-4.6.4/ol.css" %}" rel="stylesheet">
    <link href="{% static "css/non_validated_list.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'js/libs/datepicker/datepicker.css' %}">

    <script src="{% static 'js/libs/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/libs/openlayers-4.6.4/ol.js' %}"></script>
{% endblock %}

{% block body_content %}
<div style="min-height: 100%; height: auto;">
    <div id="message-success" style="display: none; float: left; width: 100%; height: 50px"></div>
    <div class="container" style="text-align: center; margin-top: 25px; margin-bottom: 25px">
        <h1 class="title-heading">NONVALIDATED BIODIVERSITY RECORDS</h1>
    </div>
    <div class="container" style="margin-bottom: 15px">
        <div class="filter"> <span>Filter by</span>
            <select id="filter-select" onchange="dynamicInputFilter(this)">
                <option value=""></option>
                <option value="original_species_name">original species name</option>
                <option value="collection_date">collection date</option>
            </select>
            <input type="text" class="input-options original_species_name" name="original_species_name" style="display: none">
            <input type="date" class="input-options collection_date" name="date_from" style="display: none"><span class="input-options collection_date" style="display: none"> to </span><input type="date" class="input-options collection_date" name="date_to" style="display: none">
            <input type="text" class="input-options owner" name="owner" style="display: none">
            <span><input type="button" name="filter_result" value="Go"></span>
        </div>
    </div>
    <div class="container">
    <div class="row">
    <div class="col-lg-7">
    <table>
        <tr>
            <th>Original Species Name</th>
            <th>Category</th>
            <th>Collection Date</th>
            <th>Owner</th>
            <th>Action</th>
            <th style="text-align: center !important;">Ready to be Validated</th>
        </tr>
        {% for obj in biorecords %}
            <tr>
                {% if obj.site.geometry_point %}
                    <td><a onclick="zoomToObject({{ obj.site.geometry_point.x }}, {{ obj.site.geometry_point.y }}, {{ obj.pk }})" class="site-link">{{ obj.original_species_name }}</a></td>
                {% else %}
                    <td><a>{{ obj.original_species_name }}</a></td>
                {% endif %}
                <td>{{ obj.category }}</td>
                <td>{{ obj.collection_date }}</td>
                <td>{{ obj.owner }}</td>
                <td class="edit-action"><a href="{% url 'update-records' obj.pk %}" class="btn btn-default" data-toggle="tooltip" title="Edit this object"><i class="fa fa-pencil"></i></a></td>
                <td class="ready-validate-action" style="text-align: center !important;">
                    {% if not obj.ready_for_validation %}
                        <a onclick="sendEmailValidation({{ obj.pk }})" title="Send email notification to validator to review this object"><i class="fa fa-send"></i></a>
                    {% else %}
                        <a title="Notification to validator is sent"><i class="fa fa-thumbs-up"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <div class="col-lg-5">
        <div id="map" class="map" style="height: 100%"></div>
    </div>
    <div id="popup"></div>
    </div>
    </div>
    {% if is_paginated %}
        <div class="container pagination">
            <span class="page-links">
                    <a href="/nonvalidated-user-list/?page=1{{ custom_url }}">&laquo; first</a>
                {% if page_obj.has_previous %}
                    <a href="/nonvalidated-user-list/?page={{ page_obj.previous_page_number }}{{ custom_url }}">previous</a>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page == page_obj.number %}
                        <span class="page-current">
                            <a href="/nonvalidated-user-list/?page={{ page_obj.number }}{{ custom_url }}">{{ page_obj.number }}</a>
                        </span>
                    {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                        <span>
                            <a href="/nonvalidated-user-list/?page={{ page }}{{ custom_url }}">{{ page }}</a>
                        </span>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="/nonvalidated-user-list/?page={{ page_obj.next_page_number }}{{ custom_url }}">next</a>
                {% endif %}
                    <a href="/nonvalidated-user-list/?page={{ page_obj.paginator.num_pages }}{{ custom_url }}">last &raquo;</a>
            </span>
        </div>
    {% endif %}
    </div>

    <section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 pull-left kartoza-icon">
                <a href="http://kartoza.com/en/">
                    <img src="{% static 'img/kartoza-logo-only.png' %}" style="width: 55px">
                </a>
            </div>
            <div class="col-lg-2 pull-right about-links">
                <p><a>About</a></p>
                <p><a href="/contact/" style="text-decoration: none; color: white">Contact</a></p>
                <p><a>Others</a></p>
            </div>
        </div>
    </div>
    </section>

    <script src="{% static 'js/libs/datepicker/datepicker.js' %}"></script>
    <script src="{% static 'js/libs/datepicker/i18n/datepicker.en.js' %}"></script>
    <script>
        var validateUrl = '{% url "validate-object" %}';
        var customUrl = '{{ custom_url }}';
        var pageUrl = '/nonvalidated-user-list/';
    </script>
    <script src="{% static 'js/views/map-review-validation.js' %}"></script>
{% endblock %}
